/* Navbar fija arriba */
/* Navbar pegado en la parte superior */
.navbar {
  position: sticky;
  top: 0; /* Se queda pegado en la parte superior */
  width: 100%;
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 5rem;
  z-index: 1000;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Espacio reservado debajo del navbar */
.main-content {
  padding-top: 80px; /* o lo que mida tu navbar */
  flex: 1;
}

/* Footer siempre al fondo */
.footer {
  background-color: #222;
  color: white;
  padding: 1rem;
  text-align: center;
}


.products {
  margin: 0;
  padding-top: 60px; /* Esto asegura que empiece justo debajo del navbar */
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  text-align: center;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}