/* Estilos base para altura total */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Configuración básica para el layout flexible */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Aquí manejamos el contenedor principal que abarcará todo el contenido */
.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 1rem;
  padding-top: 60px; /* Aseguramos que el contenido comience debajo del navbar */
  background-color: bisque;
}
